<div *ngIf="isFieldset() then fieldset else inputField"></div>

<ng-template #fieldset>
	<ofc-fieldset [fieldsetDefinition]="itemDefinition"></ofc-fieldset>
</ng-template>

<ng-template #inputField>
	<div class="form-group">
		<label class="control-label col-sm-2">{{itemDefinition.label}}</label>
		<div [ngSwitch]="attributeType" class="col-sm-10">
			<ofc-boolean-field *ngSwitchCase="'BOOLEAN'" [fieldDefinition]="itemDefinition"
				[attribute]="attribute"></ofc-boolean-field>
			<ofc-code-field *ngSwitchCase="'CODE'" [fieldDefinition]="itemDefinition"
				[attribute]="attribute"></ofc-code-field>
			<ofc-date-field *ngSwitchCase="'DATE'" [fieldDefinition]="itemDefinition"
				[attribute]="attribute"></ofc-date-field>
			<ofc-text-field *ngSwitchCase="'TEXT'" [fieldDefinition]="itemDefinition"
				[attribute]="attribute"></ofc-text-field>
			<div *ngSwitchDefault>Type not supported</div>
		</div>
	</div>
</ng-template>
