<div *ngIf="isFieldset() then fieldset else inputField"></div>

<ng-template #fieldset>
	<ofc-fieldset [fieldsetDefinition]="itemDefinition"></ofc-fieldset>
</ng-template>
<ng-template #inputField>
	<span>{{itemDefinition.label}}</span>
	<div [ngSwitch]="attributeType">
		<ofc-code-field *ngSwitchCase="CODE" [fieldDefinition]="itemDefinition"></ofc-code-field>
		<ofc-text-field *ngSwitchCase="TEXT" [fieldDefinition]="itemDefinition"></ofc-text-field>
		<div *ngSwitchDefault>Type not supported</div>
	</div>
</ng-template>

