<span *ngIf="options" [formGroup]="formGroup">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <strong>{{field.label}}</strong>
            </div>
            <div class="ui-grid-col-6">
                <span [ngSwitch]="field.layout">
                    <div *ngSwitchCase="'DROPDOWN'">
                        <p-dropdown [options]="options" [autoWidth]="false" formControlName="{{fieldId}}"></p-dropdown>
                    </div>
                    <div *ngSwitchCase="'RADIO'">
                        <div *ngFor="let option of options">
                            <p-radioButton name="group-{{parentId}}-{{fieldId}}" value="{{option.value}}" label="{{option.label}}" formControlName="{{fieldId}}"></p-radioButton>
                        </div>
                    </div>
                    <div *ngSwitchCase="'TEXT'">
                        <input type="text" pInputText formControlName="{{fieldId}}" />
                    </div>
                    <div *ngSwitchDefault>
                        <div style="color: red;">{{field.layout}} NOT IMPLEMENTED!</div>
                    </div>
                </span>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls[fieldId].valid && formGroup.controls[fieldId].dirty">
                    <i class="fa fa-close"></i> required!
                </div>
            </div>
        </div>
    </div>
</span>
