<span [formGroup]="formGroup">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <strong>{{field.label}}</strong>
            </div>
            <div class="ui-grid-col-6">
                <p-checkbox formControlName="{{fieldId}}" binary="true"></p-checkbox>
            </div>
            <div class="ui-grid-col-4">
            </div>
        </div>
    </div>
</span>
